<div class="tab-bar">
  <div class="user-posts-tab tab border-bottom">
    <%= button_tag "Posts", class: 'tab-bar-button show-posts-button' %> 
  </div>
  <div class="user-following-tab tab">
    <%= button_tag "Following", class: 'tab-bar-button show-following-button' %> 
  </div>
  <div class="user-followers-tab tab">
    <%= button_tag "Followers", class: 'tab-bar-button show-followers-button' %> 
  </div>
</div>