<div class="left">
  <%= render 'layouts/left_navbar' %>
</div>
<div class="right">
  <%= render 'layouts/top_navbar' %>
  <div class="content">
    <main>
      <%= render 'users/connection/user_list' %>
    </main>
    <%= render 'users/index/right_navbar' %>
  </div>
</div>
