<div class="right-navbar">
  <div class="who-to-follow">
    <span class="text">Who to follow</span>
    <%= button_tag show_svg('refresh.svg'), class: 'refresh-button' %>
  </div>
  <div class="who-to-follow-results">
    <%= render 'users/index/who_to_follow' %>
  </div>
</div>