<%= form_for(:micropost, url: create_post_path, html: { class: 'micropost' }, remote: true) do |f| %>
  <div class="form-group">
    <%= f.label :text, 'Post something', class: 'text-field-label' %>
    <%= f.text_field :text, class: 'text-field', placeholder: "Compose new post" %>
    <%= button_tag show_svg('paper-plane.svg'), class: 'post-submit-button' %>
  </div>
<% end %>