<form class="micropost" accept-charset="UTF-8" action="javascript:void(0);" data-remote="true">
  <div class="form-group">
    <label for="text" class="text-field-label">Post something:</label>
    <input id="text" class="text-field" placeholder="Compose a new post" name="text" type="text" />
    <button name="button" type="submit" class="post-submit-button">
      <%= show_svg('paper-plane.svg') %>
    </button>
  </div>
</form>
