// Animate
@font-face {
  font-family: 'Butterfly Kids';
  src: url('/fonts/animate/ButterflyKids-Regular.eot');
  src: url('/fonts/animate/ButterflyKids-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/animate/ButterflyKids-Regular.woff2') format('woff2'),
      url('/fonts/animate/ButterflyKids-Regular.woff') format('woff'),
      url('/fonts/animate/ButterflyKids-Regular.ttf') format('truetype'),
      url('/fonts/animate/ButterflyKids-Regular.svg#ButterflyKids-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'League Script';
  src: url('/fonts/animate/LeagueScript.eot');
  src: url('/fonts/animate/LeagueScript.eot?#iefix') format('embedded-opentype'),
      url('/fonts/animate/LeagueScript.woff2') format('woff2'),
      url('/fonts/animate/LeagueScript.woff') format('woff'),
      url('/fonts/animate/LeagueScript.ttf') format('truetype'),
      url('/fonts/animate/LeagueScript.svg#LeagueScript') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bonbon';
  src: url('/fonts/animate/Bonbon-Regular.eot');
  src: url('/fonts/animate/Bonbon-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/animate/Bonbon-Regular.woff2') format('woff2'),
      url('/fonts/animate/Bonbon-Regular.woff') format('woff'),
      url('/fonts/animate/Bonbon-Regular.ttf') format('truetype'),
      url('/fonts/animate/Bonbon-Regular.svg#Bonbon-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mr Bedfort';
  src: url('/fonts/animate/MrBedfort-Regular.eot');
  src: url('/fonts/animate/MrBedfort-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/animate/MrBedfort-Regular.woff2') format('woff2'),
      url('/fonts/animate/MrBedfort-Regular.woff') format('woff'),
      url('/fonts/animate/MrBedfort-Regular.ttf') format('truetype'),
      url('/fonts/animate/MrBedfort-Regular.svg#MrBedfort-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Crafty Girls';
  src: url('/fonts/animate/CraftyGirls-Regular.eot');
  src: url('/fonts/animate/CraftyGirls-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/animate/CraftyGirls-Regular.woff2') format('woff2'),
      url('/fonts/animate/CraftyGirls-Regular.woff') format('woff'),
      url('/fonts/animate/CraftyGirls-Regular.ttf') format('truetype'),
      url('/fonts/animate/CraftyGirls-Regular.svg#CraftyGirls-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Web
@font-face {
  font-family: 'Forum';
  src: url('/fonts/web/Forum.eot');
  src: url('/fonts/web/Forum.eot?#iefix') format('embedded-opentype'),
      url('/fonts/web/Forum.woff2') format('woff2'),
      url('/fonts/web/Forum.woff') format('woff'),
      url('/fonts/web/Forum.ttf') format('truetype'),
      url('/fonts/web/Forum.svg#Forum') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nixie One';
  src: url('/fonts/web/NixieOne-Regular.eot');
  src: url('/fonts/web/NixieOne-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/web/NixieOne-Regular.woff2') format('woff2'),
      url('/fonts/web/NixieOne-Regular.woff') format('woff'),
      url('/fonts/web/NixieOne-Regular.ttf') format('truetype'),
      url('/fonts/web/NixieOne-Regular.svg#NixieOne-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Emilys Candy';
  src: url('/fonts/web/EmilysCandy-Regular.eot');
  src: url('/fonts/web/EmilysCandy-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/web/EmilysCandy-Regular.woff2') format('woff2'),
      url('/fonts/web/EmilysCandy-Regular.woff') format('woff'),
      url('/fonts/web/EmilysCandy-Regular.ttf') format('truetype'),
      url('/fonts/web/EmilysCandy-Regular.svg#EmilysCandy-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Srisakdi';
  src: url('/fonts/web/Srisakdi-Regular.eot');
  src: url('/fonts/web/Srisakdi-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/web/Srisakdi-Regular.woff2') format('woff2'),
      url('/fonts/web/Srisakdi-Regular.woff') format('woff'),
      url('/fonts/web/Srisakdi-Regular.ttf') format('truetype'),
      url('/fonts/web/Srisakdi-Regular.svg#Srisakdi-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fredericka the Great';
  src: url('/fonts/web/FrederickatheGreat-Regular.eot');
  src: url('/fonts/web/FrederickatheGreat-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/web/FrederickatheGreat-Regular.woff2') format('woff2'),
      url('/fonts/web/FrederickatheGreat-Regular.woff') format('woff'),
      url('/fonts/web/FrederickatheGreat-Regular.ttf') format('truetype'),
      url('/fonts/web/FrederickatheGreat-Regular.svg#FrederickatheGreat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('/fonts/web/Comfortaa-Regular.eot');
  src: url('/fonts/web/Comfortaa-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/web/Comfortaa-Regular.woff2') format('woff2'),
      url('/fonts/web/Comfortaa-Regular.woff') format('woff'),
      url('/fonts/web/Comfortaa-Regular.ttf') format('truetype'),
      url('/fonts/web/Comfortaa-Regular.svg#Comfortaa-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poiret One';
  src: url('/fonts/web/PoiretOne-Regular.eot');
  src: url('/fonts/web/PoiretOne-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/web/PoiretOne-Regular.woff2') format('woff2'),
      url('/fonts/web/PoiretOne-Regular.woff') format('woff'),
      url('/fonts/web/PoiretOne-Regular.ttf') format('truetype'),
      url('/fonts/web/PoiretOne-Regular.svg#PoiretOne-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Srisakdi';
  src: url('/fonts/web/Srisakdi-Bold.eot');
  src: url('/fonts/web/Srisakdi-Bold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/web/Srisakdi-Bold.woff2') format('woff2'),
      url('/fonts/web/Srisakdi-Bold.woff') format('woff'),
      url('/fonts/web/Srisakdi-Bold.ttf') format('truetype'),
      url('/fonts/web/Srisakdi-Bold.svg#Srisakdi-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

$animate-fonts: 'Butterfly Kids', 'League Script', 'Bonbon', 'Mr Bedfort', 'Crafty Girls';
$web-fonts: 'Forum', 'Nixie One', 'Emilys Candy', 'Srisakdi', 'Fredericka the Great', 'Comfortaa', 'Poiret One', 'Srisakdi';
$fonts: 'Butterfly Kids', 'League Script', 'Bonbon', 'Mr Bedfort', 'Crafty Girls', 'Forum', 'Nixie One', 'Emilys Candy', 'Srisakdi', 'Fredericka the Great', 'Comfortaa', 'Poiret One', 'Srisakdi';

.logo {
  margin-left: 20px;
  font-size: 25px;
  color: white;

  .a {
    font-family: 'League Script';
  }
  
  .web {
    font-family: 'Srisakdi';
  }
}

