.micropost {
  .form-group {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 25px;
    margin: 35px;
    border: 1px solid #cecece;
    border-radius: 4px;
    background-color: white;

    .text-field-label {
      font-family: 'Lato';
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.3);
      margin-bottom: 8px;
    }

    .text-field {
      padding: 10px;
      border: 1px solid #cecece;
      border-radius: 2px;

      &:focus {
        outline: none;
      }
    }

    .post-submit-button {
      position: absolute;
      right: 35px;
      bottom: 32px;
      padding: 0;
      margin: 0;
      border: none;
      background: none;

      &:hover {
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }
    }

    svg {
      width: 18px;
      height: 18px;
    }

    .text-field:placeholder-shown + .post-submit-button {
      visibility: hidden;
    }

    .text-field + .post-submit-button {
      visibility: visible;
    }
  }
}