<nav class="top-navbar">
  <div class="logo"><span class="a">A</span><span class="web">web</span></div>
  <div class="svg-buttons">
    <%= button_tag show_svg('settings.svg'), class: 'svg-button dropdown-button' %>
    <div class="popup-menu">
      <%= link_to "Log out", logout_path, method: :delete %>
    </div>
  </div>
</nav>